
.profile{
    text-align: center;
    margin-bottom: 0px;
}

.profile img {
    width: 80%;
    max-width: 200px;
    aspect-ratio: 1;
    /* height: 80%; */
    border-radius: 100%;
    cursor: pointer;
}

.profile h3{
    margin: 0;
    margin-bottom: 30px;
}