.message{
    width: 100%;
    height: 72vh;
    overflow-y: scroll;
    /* border: 2px solid #ffc226 ; */
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    position: relative;
}

.message .message-block{
    display: flex;
    /* flex-direction: column; */
    align-items:flex-start;
    width: 100%;
}

.message .textContainer{
    max-width: 80%;
    word-wrap: break-word
}

.message .message-block img{
    /* display: block; */
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.message .message-block.own{
    flex-direction: row-reverse;
    text-align: right;
}

.message .message-block p{
    border-radius: 10px;
    background-color: #1877f2;
    color: white;
    margin: 5px;
    padding: 10px;
}

.message .message-block em{
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}


 .inputs{
    width: 100%;
    height: 17vh;

    margin-top: 10px;
    /* border: 2px solid #1877f2; */
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    padding: 10px;
    border-radius: 10px;
    overflow-y: scroll;
}

 .inputs textarea{
    font-size: 18px;
    height: 10vh;
    width: 100%;
    border: none;
    resize: none;
    /* border: 1px solid #1877f2; */
    border-radius: 10px;

    padding: 10px;
    /* line-height: 400%; */
}

 .inputs textarea:focus{
    outline: none;
}

 .inputs button{
    background-color: transparent;
    border: none;
    /* color: #1877f2; */
    cursor: pointer;
    float: right;
}

 .inputs button:hover{
    background-color: #1877f2;
    color: white;
    border-radius: 10px;
}