.login {
    width: 80%;
    height: 70vh;
    border: 1px solid #ffc226;
    border-radius: 20px;
    margin: 80px auto;
    padding: 20px;
    position: relative;
}

.login .long-img {
    width: 100%;
}


.login form {
    width: 100%;
    padding-top: 50px;
    text-align: center;
}

.login .text-field {
   margin: 0 20px;
   width: 300px;
   text-align: center;
}


.login .login-button {
    display: block;
    margin: 20px auto;
    background-color: #ffc226;
    color: black;
    border-radius: 20px;
}

.login .message{
    color: red;
    text-align: center;
    text-transform: capitalize;
}

.login .login-button:hover {
    background-color: #ffc226;
    color: black;
}

.login .register-button{
    position: absolute;
    right: 20px;
    text-transform: none;
}